@use "global" as *;

.campaign {
  overflow-x: hidden;
}

.layout-campaign {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.campaign__inner {
  position: relative;
}

// .campaign__contents {
// }

.campaign__cards {
  margin-right: calc(50% - 50vw);
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.campaign-card {
  width: rem(280);
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 10px 0px $off_white;
  @include mq("md") {
    width: rem(333);
  }
}

.campaign-card a:hover {
  opacity: 0.7;
}

.campaign-card__content {
  padding: rem(16) rem(16) rem(24);
  @include mq(md){
    padding: rem(24) rem(16) rem(40);
  }
}

.campaign-card__img img {
  aspect-ratio: 280 / 188;
  object-fit: cover;
  @include mq(md){
    aspect-ratio: 333 / 223;
  }
}

.campaign-card__title {
  font-size: rem(16);
  line-height: 1.5;
  padding-bottom: rem(8);
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;
}

.campaign-card__category {
  font-size: rem(12);
  line-height: 1;
  color: $main-accent-color;
  padding: rem(8) rem(11.5);
  margin-bottom: rem(4);
  border: 1px solid $main-accent-color;
  display: inline-block;
  @include mq(md){
    padding: rem(10) rem(16.5);
  }
}

.campaign-card__text {
  font-size: rem(14);
  line-height: 1.714;
  font-weight: $medium;
  text-align: center;
  margin-top: rem(8);
  width: 100%;
  @include mq(md){
    margin-top: rem(17);
    font-size: rem(16);
    line-height: 1.5;
    padding-right: rem(12);
  }
}

.campaign-card__price {
  font-family: $font-family-lato;
  font-weight: $bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: rem(16);
  width: 100%;
  margin-top: rem(5.7);
  @include mq(md){
    gap: rem(30);
    margin-top: rem(7);
  }
}

.campaign-card__price-disabled {
  font-size: rem(20);
  display: inline-block;
  padding: 0 1px;
  position: relative;
  line-height: 1.1;
  text-decoration: none; /* sタグオリジナルの取消線を無効化 */
  @include mq(md){
    font-size: rem(24);
    line-height: 1;
  }
}

.campaign-card__price-disabled::before {
  content: "";
  display: inline-block;
  width: 103%;
  height: rem(3);
  background-color: $red;
  position: absolute;
  bottom: rem(11);
  @include mq(md){
    
    bottom: rem(12);
  }
}

.campaign-card__price-current {
  font-size: rem(32);
  color: $main-accent-color;
  line-height: 1;
  @include mq(md){
    font-size: rem(40);
  }
}

.campaign-card__context {
  display: none;
  @include mq(md){
    display: block;
    margin-top: rem(40);
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}

.campaign-card__date {
  display: none;
  @include mq(md){
    display: block;
    margin-top: rem(32);
    font-size: rem(16);
    line-height: calc(18 / 16);
    font-family: $font-family-lato;
    font-weight: $bold;
    color: $main-accent-color;
    text-align: center; 
  }
}

.campaign-card__contact {
  display: none;
  @include mq(md){
    display: block;
    text-align: center;
    color: $main-accent-color;
    margin-top: rem(7);
    font-size: rem(14);
    line-height: calc(18 / 16);
  }
}

.campaign-card__btn {
  display: none;
  @include mq("md") {
    display: block;
    text-align: center;
    margin-top: rem(16);
  }
}


.campaign__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}

.campaign__btn .btn {
  display: inline-block;
}