@use "global" as *;

.header {
  height: rem(80);
  background: rgba($main-font-color, $alpha: 0.68);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  @include mq("md") {
    height: rem(90);
  }
}

header.sub-page__header {
  opacity: 1;
  visibility: visible;
}

.header.is-active {
  opacity: 1;
  visibility: visible;
}

.layout-header {
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  left: 0;
}


.header__inner {
  height: inherit;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  padding: 0 rem(15);
  @include mq("md") {
    padding: 0 rem(40);
  }
}

.header__nav-item {
  height: inherit;
  white-space: nowrap;
  min-width: max-content;
}

.header__logo {
  cursor: pointer;
  display: flex;
  height: inherit;
  max-width: rem(133);
  z-index: 9999;
  @include mq("md") {
    max-width: rem(213);
    
  }
}

.header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__logo a:hover {
  opacity: 0.7;
}

.header__logo img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 102/38;
  @include mq("md") {
    aspect-ratio: 133/50;
  }
}

.header__nav {
  display: none;
  height: inherit;
  @include mq("md") {
    display: block;
  }
}

.header__nav-items {
  display: flex;
  height: inherit;
  gap: rem(40);
}

.header__nav-item a {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.header__item-main {
  color: $white_pure;
  font-family: $second-font-family;
  font-size: rem(18);
  line-height: 1;
}

.header__item-main::first-letter {
  text-transform: uppercase;
}

.header__item-main.header__item-main--upper {
  text-transform: uppercase;
}

.header__item-sub {
  color: $white_pure;
  font-family: $base-font-family;
  font-size: rem(10);
  line-height: 1.5;
  padding-top: rem(4);
}

.header__nav-item--underline {
  position: relative;
}

.header__nav-item--underline::after {
  background: $white_pure;
  bottom: rem(20);
  content: "";
  height: rem(1);
  left: 0;
  position: absolute;
  transition: transform 0.3s, opacity 0.3s;
  width: 100%;
  opacity: 0;
}

.header__nav-item--underline:hover::after {
  transform: scale(1, 1);
  transform-origin: center top;
  opacity: 0.7;
}

.header__nav-item--underline:not(:hover)::after {
  transform: scale(0, 1);
  transform-origin: center top;
  opacity: 0;
}
