@use "global" as *;

.layout-information {
  background: $blue-white;
  margin-top: rem(70);
  padding-top: rem(75);
  padding-bottom: rem(80);
  @include mq("md") {
    margin-top: rem(164);
    padding-top: rem(100);
  }
}

.information__contents {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  @include mq("md") {
    flex-direction: row;
    gap: rem(48);
  }
}

.information__contents--layout {
  margin-top: rem(34);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.information__content {
  margin-top: rem(2);
  max-width: rem(491);
  text-align: left;
  align-self: center;
  @include mq("md") {
    margin-top: 0;
  }
}

.information__title {
  font-size: rem(20);
  line-height: 1.2;
  font-weight: $bold;
  padding-bottom: rem(4);
  @include mq("md") {
    padding-bottom: rem(8);
    font-size: rem(24);
    line-height: 1;
  }
}

.information__text {
  width: 99%;
  font-weight: $regular;
  margin-top: rem(9.6);
  line-height: 1.5;
  @include mq("md") {
    width: 100%;
    margin-top: rem(8);
    color: $black_pure;
  }
}

.information__img img {
  width: 100%;
  aspect-ratio: 345 / 227;
  @include mq("md") {
    max-width: rem(540);
    aspect-ratio: 540 / 356;
  } 
}

.information__btn {
  margin-top: rem(38.6);
  text-align: center;
  @include mq("md") {
    margin-top: rem(37);
  }
}

