@use "global" as *;

// sub-blogページのクラス

.sub-blog-fv {
  width: 100%;
}

.sub-blog-fv__img {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-image: url("../images/blog_fv_sp.jpg");
  aspect-ratio: 375 / 460;
  background-size: contain;
  @include mq("md") {
    background-image: url("../images/blog_fv_pc.jpg");
    aspect-ratio: 1440 / 548;
  }
}

.sub-blog-fv__title {
  font-family: $font-family-lato;
  color: $white_pure;
  font-size: rem(40);
  font-weight: $regular;
  line-height: calc(48 / 40); 
  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
    
  }
}

.sub-blog-fv__title::first-letter {
  text-transform: uppercase;
}

// 以下sub-blogクラス
.layout-sub-blog {
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(150);
  }
}

.sub-blog__inner {
  @include mq(md){
      display: flex;
  }
}

.sub-blog__contents {
    @include mq(md) {
        width: 65%;
    }
}

.sub-blog__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: rem(40);
    @include mq(md) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(40);
        row-gap: rem(80);
    }
}

.sub-blog__card {
    @include mq(md) {
        width: 100%;
    }
}


.sub-blog__link {
    padding: rem(16) rem(16) rem(24) rem(16);
    display: flex;
    box-shadow: 4px 4px 10px 0px $off_white;
    @include mq(md) {
        height: 100%;
        justify-content: flex-end;
        flex-direction: column;
    }
}

.sub-blog__link:hover {
  opacity: 0.7;
}

.sub-blog__card + .sub-blog__card .sub-blog__link {
    @include mq(md) {
        border-left: none;
    }
}

.sub-blog__card:nth-of-type(2n+1) .sub-blog__link {
    @include mq(md) {
        border-left: 1px solid rgba($color: #234F5E, $alpha: .2);
    }
}

.sub-blog__card:nth-of-type(n+3) .sub-blog__link {
    @include mq(md) {
        border-top: none;
    }
}


.sub-blog__content {
    flex-grow: 1;
    @include mq(md) {
        margin-top: rem(16);
        flex-grow: initial;
    }
}

.sub-blog__meta {
    display: flex;
    align-items: center;
    @include mq(md) {
        justify-content: space-between;
    }
}

.sub-blog__date {
  font-size: rem(12);
  line-height: 1.5;
  font-family: $second-font-family;
  font-weight: $regular;
  color: $main-font-color;
}

.sub-blog__title {
    font-size: rem(16);
    line-height: 1.5;
    font-weight: $medium;
    padding-bottom: rem(4);
}

.sub-blog__img img {
    width: 100%;
    aspect-ratio: 301/201;
    object-fit: cover;
}

.sub-blog__text {
  font-weight: $regular;
  line-height: 1.5;
  color: $main-font-color;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
  width: 95%;
  margin-top: rem(16);
  @include mq("md") {
    width: 100%;
  }
}

.sub-blog__pagination--main {
  margin-top: rem(80);
  gap: rem(40);
}

.sub-blog__pagination--detail {
  margin-top: rem(80);
  gap: rem(82);
}

// -------------------------------------

// 以下sidebar 別ページにする予定
.sub-blog__sidebar {
    margin-top: rem(80);
    @include mq(md) {
        margin-top: 0;
        margin-left: rem(80);
        width: 27%;
    }
}

.sidebar__header {
  display: inline-flex;
  align-items: center;
  border-left: rem(8) solid $main-accent-color;
}

.sidebar__title {
  position: relative;
  padding-top: rem(7.5);
  padding-bottom: rem(7.5);
  padding-left: rem(8);
  font-size: rem(24);
  font-weight: $regular;
  line-height: calc(29 / 24);
}

.sidebar__img {
  width: rem(50);
  aspect-ratio: 50 / 50;
  margin-left: rem(16);
}

.sub-blog__sidebar-item {
    // padding-top: rem(24);
    position: relative;
    
}

.sidebar__item + .sidebar__item {
    margin-top: rem(80);
}



.sub-blog__category-link {
    padding: rem(24) rem(30) rem(24) 0;
    position: relative;
    display: block;
    font-size: rem(18);
    line-height: 1.3;
    border-bottom: 1px solid #F0ECF4;
}

.sub-blog__category-link::before {
    content: "";
    position: absolute;
    top: 50%;
    right: rem(20);
    width: rem(8);
    height: rem(8);
    border-top: rem(2) solid #333;
    border-right: rem(2) solid #333;
    transform: translateY(-50%) rotate(45deg);
    transition: .3s;
}

.sub-blog__tag-list {
    margin-top: rem(24);
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);
}

.sub-blog__tag-link {
    font-size: rem(12);
    line-height: 1;
}

.sidebar__contents {
  margin-top: rem(24);
}

// 人気記事
.popular-list {
  width: rem(294);
}

.popular-list + .popular-list {
  margin-top: rem(24);
}

.popular-list__link {
  display: block;
  padding: rem(16);
  background-color: $white_pure;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: rem(16);
}

.popular-list__link:hover {
  opacity: 0.7;
}

.popular-list__img {
  position: relative;
  width: rem(100);
  flex-shrink: 0;
}

.popular-list__img img {
  width: rem(121);
  aspect-ratio: 121/ 91;
  object-fit: cover;
}

.popular-list__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.popular-list__date {
  display: inline-block;
  font-size: rem(12);
  line-height: calc(18/ 12);
  font-family: $second-font-family;
  font-weight: $regular;
  color: $main-font-color;
}

.popular-list__title {
  margin-top: rem(8);
  font-size: rem(16);
  font-weight: $medium;
  line-height: calc(19 / 16);
}

// --------------------------------

// review-list
.review-list__img {
  width: 100%;
}

.review-list__img img{
  width: rem(294);
  aspect-ratio: 294 / 218;
  object-fit: cover;
}

.review-list__tag {
  margin-top: rem(16);
  font-size: rem(12);
  line-height: calc(18 / 12);
  font-weight: $regular;
}

.review-list__title {
  margin-top: rem(8);
  font-size: rem(24);
  line-height: calc(29 / 24);
  font-weight: $medium;
}

.review-list__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(56);
  }
}

//-----------------------



// campaign
.sidebar__contents .campaign-card {
  width: rem(294);
  margin-top: rem(40);
}

.sidebar__content .campaign-card__title {
  display: block;
  text-align: center;
}



.sidebar__content .campaign-card__img img {
  aspect-ratio: 294 / 218;
  object-fit: cover;
}

.sidebar__content .campaign-card__price {
  gap: rem(16)
}

// archive
.archive__year-btn,
.archive__month-btn {
  margin-top: rem(4);
}

.archive__year-btn {
  position: relative;
  width: 100%;
  padding: rem(0) rem(16) rem(0) rem(32);
  text-align: left;
  font-size: rem(16);
  line-height: 1.5;
  cursor: pointer;
  color: $main-accent-color;
}

.archive__year-btn:hover {
  opacity: 0.7;
}

.archive__year-btn::before {
  content: "▶︎";
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translateY(-50%);
  font-size: rem(24);
  transition: transform .3s;
  color: $main-accent-color;
}

.archive__year-btn[aria-expanded="true"]::before {
  content: "▼";
}

.archive__months {
  display: none;
  padding-left: rem(32);
  margin-bottom: rem(16);
}

.archive__months[aria-hidden="false"] {
  display: block;
}

.archive__month-btn {
  position: relative;
  width: 100%;
  padding: rem(8) rem(0) rem(8) rem(32);
  text-align: left;
  font-size: rem(14);
  line-height: 1.5;
  cursor: pointer;
  color: $main-accent-color;
}

.archive__month-btn:hover {
  opacity: 0.7;
}

.archive__month-btn::before {
  content: "▶︎";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: rem(24);
  color: $main-accent-color;
}

// ブログ詳細
.sub-blog__title {
  font-size: rem(32);
  line-height: calc(29 / 24);
  font-weight: $medium;
  @include mq("md") {
    line-height: calc(38 / 32);
  }
}

.sub-blog__img,
.sub-blog__text,
.sub-blog__lists {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.sub-blog__list {
  line-height: calc(24 / 16);
}

.sub-blog__list {
  position: relative;
  padding-left: rem(27);
  font-size: rem(16);
  line-height: calc(24 / 16);
  margin-top: rem(4);
}

.sub-blog__list::before  {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: translateY(-50%);
  width: rem(18);
  height: rem(18);
  background-image: url("../images/common/common_hitode_green.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}