@use "global" as *;

// sub-blogページのクラス
// 下層ページ共通のクラス
.sub-page__inner {
  position: relative;
  // min-width: rem(375);
  // @include mq(md){
  //     max-width: rem(1130);
  // }
}

.sub-page__inner::before {
  content: "";
  background-image: url("../images/common/common_fishes_right.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(120);
  aspect-ratio: 120 / 55;
  position: absolute;
  z-index: -1;
  top: rem(-25);
  left: calc(50% - min(48vw, 37.1rem));
  @include mq("md") {
    top: rem(-73);
    width: rem(301);
    aspect-ratio: 301 / 138;
    left: calc(50% - min(48vw, 38.1rem));
  }
}

.sub-page-contact.layout-contact {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(100);
  }
}

.sub-page-fv {
  width: 100%;
}

.sub-page-fv__img {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  // background-image: url("../images/contact_fv_sp.jpg");
  aspect-ratio: 375 / 460;
  background-size: contain;
  @include mq("md") {
    // background-image: url("../images/contact_fv_pc.jpg");
    aspect-ratio: 1440 / 548;
  }
}

.sub-page-fv__title {
  font-family: $font-family-lato;
  color: $white_pure;
  font-size: rem(40);
  font-weight: $regular;
  line-height: calc(48 / 40);
  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}

.sub-page-fv__title::first-letter {
  text-transform: uppercase;
}

.sub-page-texts__title {
  font-weight: $medium;
  font-size: rem(24);
  line-height: calc(29 / 24);
  @include mq("md") {
    font-size: rem(32);
    line-height: calc(38 / 32);
  }
}

.sub-page-texts__body {
  margin-top: rem(40);
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(32 / 16);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.sub-page-texts__list {
  margin-top: rem(32);
}

.sub-page-texts__item {
  list-style: decimal;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

.sub-page-texts__body p:last-of-type {
  margin-top: rem(32);
}