@use "global" as *;

// sub-campaignページのクラス

.sub-page-fv__img.sub-page-fv__img--campaign {
  background-image: url("../images/campaign_fv_sp.jpg");
  @include mq("md") {
    background-image: url("../images/campaign_fv_pc.jpg");
  }
}

// 以下sub-campaignクラス
.layout-sub-campaign {
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(150);
  }
}

.sub-campaign__tags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(16);
  justify-content: space-between;
  @include mq(md) {
    max-width: rem(1130);
    grid-template-columns: repeat(4, auto);
    justify-content: flex-start;
  }
}

.sub-campaign__tag {
  @include mq("md") {
    width: rem(162);
    
  }
}

.sub-campaign__tag a {
  display: block;
  padding: rem(4) rem(16);
  border: 1px solid $main-accent-color;
  font-size: rem(14);
  line-height: calc(26 / 14);
  color: $main-accent-color;
  text-align: center;
  transition: all .3s ease;
  cursor: pointer;
}

.sub-campaign__tag a:hover,
.sub-campaign__tag .is-active {
  color: $white_pure;
  background-color: $main-accent-color;
}

.sub-campaign__cards {
  margin-top: rem(40);
}

.sub-campaign__cards-grid.campaign-cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(40);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(40);
    row-gap: rem(80);
  }
}


.sub-campaign__cards-grid .campaign-card {
  min-width: rem(294);
  width: 100%;
  @include mq("md") {
    max-width: rem(520);
  }
}

.sub-campaign__pagination--main {
  margin-top: rem(80);
}

.article-pagination__number {
  transition: all .3s ease;
  
  &.is-active {
    background-color: $main-accent-color;
    color: $white_pure;
    pointer-events: none;
  }
}


