@use "global" as *;

// sub-voiceページのクラス

.sub-page-fv__img.sub-page-fv__img--voice {
  background-image: url("../images/voice_fv_sp.jpg");
  @include mq("md") {
    background-image: url("../images/voice_fv_pc.jpg");
  }
}
// 以下sub-voiceクラス
.layout-sub-voice {
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(150);
  }
}

.sub-voice__tags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(16);
  justify-content: space-between;
  @include mq(md) {
    max-width: rem(1130);
    grid-template-columns: repeat(4, auto);
    justify-content: flex-start;
  }
}

.sub-voice__tag {
  @include mq("md") {
    width: rem(162);
    
  }
}

.sub-voice__tag a {
  display: block;
  padding: rem(4) rem(16);
  border: 1px solid $main-accent-color;
  font-size: rem(14);
  line-height: calc(26 / 14);
  color: $main-accent-color;
  text-align: center;
  transition: all .3s ease;
  cursor: pointer;
  white-space: nowrap;
}

.sub-voice__tag a:hover,
.sub-voice__tag .is-active {
  color: $white_pure;
  background-color: $main-accent-color;
}


.sub-voice__cards {
  margin-top: rem(40);
}

.sub-voice__cards-grid.campaign-cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(40);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(40);
    row-gap: rem(80);
  }
}


.sub-voice__cards-grid .campaign-card {
  min-width: rem(294);
  width: 100%;
  @include mq("md") {
    max-width: rem(520);
  }
}

.sub-voice__pagination {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(72);
  }
}

.sub-voice__pagination--main {
  margin-top: rem(80);
}
