@use "global" as *;

// sub-termsページのクラス
.sub-page-fv__img.sub-page-fv__img--terms {
  background-image: url("../images/common/common_fv_fishies_sp.jpg");
  @include mq("md") {
    background-image: url("../images/common/common_fv_fishies_pc.jpg");
  }
}

.sub-page-fv__title.sub-page-fv__title--terms {
  // 'terms'と'service'の頭文字を大文字に
  span:first-of-type,
  span:last-of-type {
    text-transform: capitalize;
  }
}
// 以下sub-termsクラス
.layout-sub-terms {
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(150);
  }
}

.sub-terms__contents {
  width: 100%;
  @include mq("md") {
    max-width: rem(800);
    margin-inline: auto;
  }
}

.sub-page-texts__title {
  font-weight: $medium;
  font-size: rem(24);
  line-height: calc(29 / 24);
  @include mq("md") {
    font-size: rem(32);
    line-height: calc(38 / 32);
  }
}

.sub-page-texts__body {
  margin-top: rem(40);
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(32 / 16);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.sub-page-texts__list {
  margin-top: rem(32);
}

.sub-page-texts__item {
  list-style: decimal;
  list-style-position: inside;
}

.sub-page-texts__body p:last-of-type {
  margin-top: rem(32);
}