@use "global" as *;

// sub-contactページのクラス
.sub-page-fv__img.sub-page-fv__img--contact {
  background-image: url("../images/contact_fv_sp.jpg");
  @include mq("md") {
    background-image: url("../images/contact_fv_pc.jpg");
  }
}
// 以下sub-contactクラス
.layout-sub-contact {
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(150);
  }
}

// formクラス
.form {
  width: 100%;
  @include mq("md") {
  max-width: rem(700);
  margin-inline: auto;
  }
}

.form__wrap {
  display: block;
  margin-top: rem(24);
  padding-bottom: rem(40);
  border-bottom: 1px dashed $main-accent-color;
  @include mq("md") {
    display: flex;
    margin-top: rem(40);
  }
}

.form__label {
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(19 / 16);
  width: 100%;
  @include mq("md") {
    width: calc(220 / 700 * 100%);
  }
}

.form__label span {
  font-weight: $regular;
  display: inline-block;
  color: $white_pure;
  background-color: $red;
  font-size: rem(12);
  line-height: calc(14 / 12);
  padding: rem(2) rem(14);
  margin-left: rem(8);
}

.form__input, 
.form__select, 
.form__textarea,
.form__checkbox {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
  }
}

.form-input,
.form-select,
.form-textarea {
  &.is-error {
    background-color: rgba($red, 0.2);
    border-color: $red;
  }
}

.form__input, 
.form__select, 
.form__textarea {
  width: 100%;
  border: 1px solid $main-accent-color;
  @include mq("md") {
    width: calc(480 / 700 * 100%);
  }
}

.form__input input,
.form__textarea textarea{
  width: 100%;
  padding: rem(8) rem(16) rem(9) rem(16);
}

.form__select select {
  padding: rem(8) rem(8) rem(9) rem(8);
}

.form__input,
.form__textarea {
    flex-grow: 1;
}
.form__checkbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mq("md") {
    width: calc(480 / 700 * 100%);
  }
}

.form__textarea,
.form__textarea textarea {
  min-height: rem(200);
}

.form__input input::placeholder {
  color: $blue-white;
}

// checkbox
.form-checkbox label {
  display: block;
  @include mq(md){
      display: inline-block;
  }
}

.form-checkbox input + span {
  color: $black_pure;
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 rem(24);
  position: relative;
  font-size: rem(16);
  line-height: calc(19 / 16);
}

.form-checkbox input + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: $white_pure;
  border: 1px solid $main-accent-color;
  display: block;
  width: rem(14);
  height: rem(14);
}

.form-checkbox input + span::after {
  content: "";
  margin-top: rem(-2);
  margin-left: rem(2);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  display: block;
  width: rem(9);
  height: rem(5);
  border-bottom: rem(2) solid $red;
  border-left: rem(2) solid $red;
  transition:  .3s;
  opacity: 0;
}

.form-checkbox input:checked + span::after {
  opacity: 1;
}

.form-checkbox.is-error input + span::before {
  background-color: rgba($red, 0.2);
  border-color: $red;
}
// checkbox end
// ------------------------------

// form__select 
.form-select {
  position: relative;
}

.form-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(8);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(12) rem(8) 0 rem(8);
  border-color: $main-accent-color transparent transparent transparent;
  pointer-events: none;
}

.form-select select {
  width: 100%;
  font-size: rem(12);
  line-height: calc(14 / 12);
  appearance: none;
  cursor: pointer;
}

// edgeで表示される矢印を非表示
.form-select select::-ms-expand {
  display: none;
}
// form__select end
// ------------------------------


.form__submit {
  margin-top: rem(24);
  text-align: center;
  @include mq("md") {
    margin-top: rem(40);
  }
}

// form__privacy
.form__privacy {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}

.form__privacy span {
  font-size: rem(16);
  line-height: calc(24 / 16);
  @include mq("md") {
    font-size: rem(14);
    line-height: calc(22 / 14);
  }
}

.form__privacy.form-checkbox input + span::before {
  width: rem(22);
  height: rem(22);
}

.form__privacy.form-checkbox input + span {
  position: relative;
  padding: 0 0 0 rem(32);
  font-size: rem(14);
  line-height: calc(22 / 14);
  text-align: left;
  @include mq("md") {
    font-size: rem(14);
    line-height: calc(22 / 14);
    padding: 0 0 0 rem(40);
  }
}

.form__privacy.form-checkbox input + span::before {
  width: rem(22);
  height: rem(22);
}

.form__privacy.form-checkbox input + span::after {
  margin-top: rem(-2);
  margin-left: rem(7);
}
// form__privacy end
// ------------------------------

.form__error {
  display: none;
  margin-top: rem(40);
  color: $red;
  text-align: center;
  font-size: rem(16);
  line-height: calc(24 / 16);
}

.form__error.is-error {
  display: block;
}