@use "global" as *;

.layout-voice {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.voice__inner {
  position: relative;
}

.voice__inner::before {
  @include mq("md") {
    content: "";
    background-image: url("../images/common/common_fishes_right.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(301);
    aspect-ratio: 301 / 138;
    position: absolute;
    left: calc(50% - min(43vw, 38.5rem));
    top: rem(-122);

  }
}

.voice__inner::after {
  @include mq("md") {
    content: "";
    background-image: url("../images/common/common_tatsu.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(71);
    aspect-ratio: 71 / 162;
    position: absolute;
    bottom: rem(-64);
    right: rem(24);
  }
}

.voice-cards {
  margin-top: rem(40);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: rem(40);
  @include mq("md") {
    margin-top: rem(30);
    row-gap: 0;
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(80);
    column-gap: rem(40);
  }
}

.voice-card {
  padding: rem(15) rem(16);
  box-shadow: 4px 4px 10px 0px $off_white;
  @include mq("md") {
    padding: rem(24);
  }
}

.voice-card a:hover{
  opacity: 0.7;
}

.voice-card__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(13);
  @include mq("md") {
    column-gap: rem(16);
  }
}

.voice-card__header-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: rem(3);
  @include mq("md") {
    width: rem(276);
    margin-top: rem(21);
  }
} 

.voice-card__header-content {
  display: inline-block;
  @include mq("md") {
    display: flex;
    justify-content: space-between;
  }
}


.voice-card__type {
  display: flex;
  align-items: end;
  font-weight: $regular;
  font-size: rem(12);
  line-height: 1.5;
}

.voice-card__license {
  text-align: center;
  width: fit-content;
  font-weight: $regular;
  font-size: rem(12);
  line-height: 1.833;
  color: $main-accent-color;
  padding: rem(4) rem(12);
  border: 1px solid $main-accent-color;
  @include mq("md") {
    padding: rem(6) rem(16);
  }
}

.voice-card__title {
  color: $main-font-color;
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  margin-top: rem(4);
  padding-bottom: rem(4);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 制限したい行数が3の場合 */
  line-clamp: 3;
  overflow: hidden;
  @include mq("md") {
    font-size: rem(24);
    margin-bottom: rem(8);
    margin-top: rem(8);
  }
}

.voice-card__header-img img{
  display: block;
  aspect-ratio: 151 / 117;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 180 / 140;
  } 
}

.voice-card__body {
  margin-top: rem(15);
  @include mq("md") {
    margin-top: rem(30);
  }
}

.voice-card__text {
  font-weight: $regular;
  line-height: 1.5;
  color: $main-font-color;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  overflow: hidden;
  @include mq("md") {
    -webkit-line-clamp: 7;
    line-clamp: 7;
  }
}

.voice__btn {
  margin-top: rem(47);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}